:root {
    --green: #bbd82a;
}
.App{
    text-align: center;
}

.Header{
    text-shadow: -2px 2px var(--green);
}

a:hover {
    color:var(--green);
    font-weight: bold;
    text-shadow: -2px 2px rgb(19, 19, 19);
}