@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Overpass:wght@300&family=Ubuntu+Mono&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid red; */
}


:root {
    --hover: greenyellow;
    --page-color: linear-gradient(to right, black, maroon); 
    --font-main: "Overpass";
    --font-title: "Black Ops One";
}

body{
    /* background-image: linear-gradient(to right, black, maroon); */
    background-image: var(--page-color);
    height: 100hv;
    font-family: var(--font-main);
}

::placeholder{
    /* background-color: transparent; */
    font-family: var(--font-main);


}
.App{
    text-align: center;
}

Header, h1{
    
    text-shadow: -2px 2px var(--green);
    font-family: var(--font-title);
}
a{
    color:white;
    /* change back to yellow after test */
}
a:hover {
    color:var(--hover);
    /* font-weight: bold; */
    /* text-shadow: -2px 2px maroon; */
}

form h1{
    padding: 40px;
}

form{
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    /* justify-items: center; */
    background-color: white;   
    border-style: none;
    width: 800px; 
    max-height: 800px;  
    padding-bottom: 20px;
    
}
.basic-info{
    height: 50px;
}
input, textarea{    
    align-content: center;
    margin-top: 40px;
    margin-left: 40px;
    padding-left: 10px;
    /* border-style: none; */
    border-style: none;
    border-bottom-style: solid;    
    box-shadow: 1px 1px 3px 2px whitesmoke;
    width: 80%;    
}

.text-area{
    /* width: 60%; */
    color: whitesmoke
    
    
}
button{
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 10px;
    border-style: hidden;
    background-color:aquamarine;
    font-weight: bold;
    height: 20px;
    width: 20%;   
    padding: 20px auto; 
    box-shadow: 1px 1px 3px 2px whitesmoke;
    font-family: var(--font-title);
}

